body {
  font-family: sans-serif;
  background: #293848;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  background: rgb(99, 103, 225);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input {
  padding: 10px;
  width: 60%;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  margin-left: 10px;
}

#results {
  margin-top: 2rem;
  text-align: left;
}
